@using Microsoft.Extensions.Options
@inject IOptions<Setting> Setting
@model Category[]
@{
    ViewData["Title"] = "首页-CC98软件站";
}
<div id="middle-part">
    <div id="soft-recommend" style="border:solid 1px  #bfbfbf;width:100%;height:auto; margin-top:10px;">
        <h4><b>软件推荐</b></h4>
    </div>
    <div id="soft-sort" style="border:solid 1px  #bfbfbf;width:20%;height:auto;margin-top:10px;margin-bottom:10px;margin-right:1%;float:left;">
        <h4><b>软件分类</b></h4>
        <dl>
            @foreach (Category i in Model)
            {
                if (i.Parent == null)
                {
                    <dt><a asp-controller="home" asp-action="list" asp-route-classid="@i.Id">@i.Name</a></dt>
                }
                else
                {
                    <dd>
                        @foreach (Category p in i.Children)
                        {
                            <a asp-controller="home" asp-action="list" asp-route-classid="@i.Id">@p.Name</a>
                        }
                </dd>
                }
            }
        </dl>
    </div>
    <div id="soft-common" style="border:solid 1px #bfbfbf;margin-bottom:10px;margin-left:1%;margin-right:1%;margin-top:10px;width:50%;height:auto;float:left;">
        <h4><b>常用软件集合</b></h4>

    </div>

    <div id="right-bar" style="margin-bottom:10px;margin-left:1%;margin-top:10px;width:26%;height:auto;float:left">
        <div id="search-soft" style="border:1px solid #bfbfbf;margin-top:5px;margin-bottom:5px;padding:10px;padding-left:10px;">
            <input type="search" id="search" placeholder="输入关键词搜索吧" />
            <input type="button" id="searchbutton" value="搜索" />
        </div>
        <div id="rank-soft" style="margin-bottom:5px;border:1px solid #bfbfbf;">
            <h4><b>软件排行</b></h4>
            <ol>
                <li><a href="" target="_blank">360卫士</a></li>
                <li><a href="" target="_blank">安全管家</a></li>
                <li><a href="" target="_blank">美图秀秀</a></li>
                <li><a href="" target="_blank">360卫士</a></li>
                <li><a href="" target="_blank">安全管家</a></li>
                <li><a href="" target="_blank">美图秀秀</a></li>
                <li><a href="" target="_blank">360卫士</a></li>
                <li><a href="" target="_blank">安全管家</a></li>
                <li><a href="" target="_blank">美图秀秀</a></li>
                <li><a href="" target="_blank">美图秀秀</a></li>
            </ol>
        </div>
        <div id="feed-soft" style="border:1px solid  #bfbfbf;margin-top:5px;">
            <h4><b>用户专区</b></h4>
            <div id="upload-soft">
                <p></p>
                &nbsp;&nbsp; &nbsp;&nbsp; <a asp-controller="home" asp-action="ShowUpload">我要上传</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Setting.Value.RequireWeb"> 求未收录软件</a>
            </div>
            <p></p>
            <div id="question-soft">
                &nbsp;&nbsp; &nbsp;&nbsp; <a href="@Setting.Value.FeedbackWeb"> 我要反馈</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <p></p>
            <div id="ftptool">
                &nbsp;&nbsp; &nbsp;&nbsp; <a href="ftp://software.cc98.org"> FTP上传工具</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <p></p>
            <p></p>
        </div>
    </div>
</div>
<div id="game-soft" style="border:1px solid #bfbfbf;width:100%;float:left;">
    <h4><b>常玩游戏下载</b></h4>
    hhh
</div>
