@model Software[] 
<body>
    <p></p>
    <p></p>
    <p></p>
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <center>
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="search"></label>
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="输入">
                        </div>
                        <button type="submit" class="btn btn-primary">搜索</button>
                    </form>
                </center>
            </div>

        </div>
        <p></p>
        <p></p>
        <div class="row">
            <div class="col-md-8">
                @foreach (Software i in Model)
                {
                <div class="row">
                    <div class="col-md-8"><h4><a href="该软件的链接">@i.Name</a></h4></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><img src="..." alt="..." class="img-rounded"></div>
                    <div class="col-md-6">
                        @i.Introduction
                        <p>@i.DownloadNum&emsp;评论数</p>
                    </div>
                </div>
                }


                <div class="col-md-3">
                    <div class="row">
                        <p></p>
                    </div>
                    <div class="row">
                        <p></p>
                    </div>
                    <div class="row">
                        热门应用
                        <br><a href="该软件的链接">应用</a>
                        <br><a href="该软件的链接">应用</a>
                    </div>
                </div>



                <center>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-default">上一页</button>
                            @for(int page = 1; page <= ViewBag.amount/10+1; page++) {
      
                                <a class="btn" asp-controller="home" asp-action="list"  asp-route-classid="@ViewBag.classid" asp-route-page="@page">@page</a>
                             }
                          <a class="btn" asp-controller="home" asp-action="list" asp-route-classid="1" asp-route-page="@ViewBag.curPage+1">下一页</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="该软件的链接">1</a>&ensp;
                            <a href="该软件的链接">n</a>
                        </div>
                    </div>
                </center>

            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
