@model Sakura.AspNetCore.IPagedList<Software>


<div class="container">

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            @foreach (var i in Model)
            {
                <div class="row">
                    <div class="col-md-10"><h4><a asp-controller="home" asp-action="Details" asp-route-id="@i.Id">@i.Name</a></h4></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><img src="@i.PhotoLocation" alt="..." class="img-rounded"></div>
                    <div class="col-md-8" style="white-space:normal;height:60px;overflow:hidden;text-overflow:ellipsis;width:520px;">
                        @i.Introduction
                        <p>@i.DownloadNum&emsp;下载数</p>
                    </div>
                </div>
                <hr>
}
            <pager source="@Model" />

            



            <div class="col-md-2">
                <div class="row">
                    <p></p>
                </div>
                <div class="row">
                    <p></p>
                </div>
                <div class="row">
                    热门应用
                    <br><a href="该软件的链接">应用</a>
                    <br><a href="该软件的链接">应用</a>
                </div>
            </div>
            <hr>

            <footer class="footer">
                <div class="container">
                    <div class="row foorer-top">
                        <div class="col-md-1"></div>
                        <div class="col-md-8">
                            <div class="row about">
                                <div class="col-xs-3">
                                    <h4>用户专区</h4>
                                    <ul class="list-unstyled">
                                        <li><a href="">插图</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-3">
                                    <h4>我要上传</h4>
                                    <ul class="list-unstyled">
                                        <li><a href="">插图</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-3">
                                    <h4>我要反馈</h4>
                                    <ul class="list-unstyled">
                                        <li><a href="">插图</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-3">
                                    <h4>FTP上传工具</h4>
                                    <ul class="list-unstyled">
                                        <li><a href="">插图</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
