@model Software[]
<body>
    <p></p>
    <p></p>
    <p></p>

    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <img src="" alt="" class="img-rounded">图片
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="exampleInputName2" placeholder="输入" style="width:560px">
            </div>
            <button type="submit" class="btn btn-primary" style="width:70px">搜索</button>
        </div>
        <hr>
        <p></p>
        <p></p>
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-8">
                @foreach (Software i in Model)
                {
                    <div class="row">
                        <div class="col-md-10"><h4><a href="该软件的链接">@i.Name</a></h4></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <img src="..." alt="..." class="img-rounded">
                        </div>
                        <div class="col-md-8">
                            <div class="row" style="white-space:normal;height:60px;overflow:hidden;text-overflow:ellipsis;width:520px;">
                                @i.Introduction
                                这里是内容    哈哈哈哈哈哈哈哈哈哈哈哈哈哈asda哈哈哈哈sada a dsa asd as da 哈哈asdssssss  asdasdas dasd哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈
                            </div>
                            <div class="row">
                                <p>下载数:@i.DownloadNum &emsp;评论数:i.Comments.Count &emsp;时间：@i.UpdateTime &emsp;上传者：@i.Uploadername</p>
                            </div>
                        </div>
                    </div>

                    <hr>
                }
                <center>
                    <div class="row">
                        <div class="col-md-10">
                            <button type="submit" class="btn btn-default">上一页</button>
                            @for (int page = 1; page <= ViewBag.amount / 10 + 1; page++)
                            {
                                <a class="btn" asp-controller="home" asp-action="list" asp-route-classid="@ViewBag.classid" asp-route-page="@page">@page</a>
                            }
                            <a class="btn" asp-controller="home" asp-action="list" asp-route-classid="1" asp-route-page="@ViewBag.curPage+1">下一页</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <a href="该页的链接">1</a>&ensp;
                            <a href="该页的链接">n</a>
                        </div>
                    </div>
                </center>
            </div>
            <div class="col-md-2">
                <p></p>
                <div class="row">热门应用</div>
                <div class="row">1</div>
            </div>

        </div>
    </div>


    <hr>

    <footer class="footer">
        <div class="container">
            <div class="row foorer-top">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <div class="row about">
                        <div class="col-xs-3">
                            <h4>用户专区</h4>
                            <ul class="list-unstyled">
                                <li><a href="">插图</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-3">
                            <h4>我要上传</h4>
                            <ul class="list-unstyled">
                                <li><a href="">插图</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-3">
                            <h4>我要反馈</h4>
                            <ul class="list-unstyled">
                                <li><a href="">插图</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-3">
                            <h4>FTP上传工具</h4>
                            <ul class="list-unstyled">
                                <li><a href="">插图</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
